.blogPost {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: auto;
    align-items: center;
}

.blogHeader {
    text-align: center;
}

.blogHeader h1 {
    letter-spacing: .5px;
    text-transform: capitalize;
    font-size: 1.6rem;
}

.date {
    font-size: 1.5rem;
}

span:nth-child(3) {
    color: gray;
    font-style: italic;
}

.blog-image {
    width: 100%;
}

.content {
    height: auto;
    font-size: 1rem;
    font-family: "Oswald", sans-serif;
    letter-spacing: .5px;
    padding: 1rem 2rem;
}