.blogContainer,
.postContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    font-family: "Oswald", sans-serif;
    background-color: rgb(219, 216, 216);
}